---
layout: page
# All the Categories of posts
---


{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}

{% assign group_index = 0 %}
{% assign category_weights = site.data.category_weights %}
{% assign sort_categories = site.categories | sort_by: '{{ item | first | lookup: category_weights }}' %}
{% for category in sort_categories %}
  {% assign category_name1 = category | first %}
  {% assign category_weight1 = category_weights[category_name1] %}
  <p>{{ category_name1 }} - {{ category_weight1 }}</p>
{% endfor %}

{% for category in sort_categories %}
  {% assign category_name = category[1] %}
  {% assign category_weight = category_weights[category_name] %}
  {% assign category_display_name = category_name | append: '-' | append: category_weight %}

  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category | first %}

  {% if category_name == first_post.categories[0] %}
    {% assign sub_categories = "" | split: "" %}

    {% for post in posts_of_category %}
      {% assign second_category = post.categories[1] %}
      {% if second_category %}
        {% unless sub_categories contains second_category %}
          {% assign sub_categories = sub_categories | push: second_category %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% assign sub_categories = sub_categories | sort_by_weight %}
    {% assign sub_categories_size = sub_categories | size %}

  <div class="card categories">
    <!-- top-category -->
    <div class="card-header d-flex justify-content-between hide-border-bottom"
        id="{{ HEAD_PREFIX }}{{ group_index }}">
      <span>
      {% if sub_categories_size > 0 %}
        <i class="far fa-folder-open fa-fw"></i>
      {% else %}
        <i class="far fa-folder fa-fw"></i>
      {% endif %}
        <a href="{{ site.baseurl }}/categories/{{ category_name | slugify | url_encode }}/"
          class="ml-1 mr-2">
          {{ category_display_name }}
        </a>

        <!-- content count -->
        {% assign top_posts_size = site.categories[category_name] | size %}
        <span class="text-muted small font-weight-light">
          {% if sub_categories_size > 0 %}
            {{ sub_categories_size }}
            {% if sub_categories_size > 1 %}categories{% else %}category{% endif %},
          {% endif %}
            {{ top_posts_size }}
            post{% if top_posts_size > 1 %}s{% endif %}
        </span>
      </span>

      <!-- arrow -->
      {% if sub_categories_size > 0%}
      <a href="#{{ LIST_PREFIX }}{{ group_index }}" data-toggle="collapse"
        aria-expanded="true" aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
        class="category-trigger hide-border-bottom">
        <i class="fas fa-fw fa-angle-down"></i>
      </a>
      {% else %}
      <span data-toggle="collapse" class="category-trigger hide-border-bottom disabled">
        <i class="fas fa-fw fa-angle-right"></i>
      </span>
      {% endif %}

    </div> <!-- .card-header -->

    <!-- Sub-categories -->
    {% if sub_categories_size > 0 %}
    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
      <ul class="list-group">
        {% for sub_category in sub_categories %}
          {% assign sub_category_name = sub_category %}
          {% assign sub_category_weight = category_weights[sub_category_name] %}
          {% assign sub_category_display_name = sub_category_name | append: '-' | append: sub_category_weight %}
          <li class="list-group-item">
            <i class="far fa-folder fa-fw"></i>
            <a href="{{ site.baseurl }}/categories/{{ sub_category | slugify | url_encode }}/"
              class="ml-1 mr-2">{{ sub_category_display_name }}</a>
            {% assign posts_size = site.categories[sub_category] | size %}
            <span class="text-muted small font-weight-light">{{ posts_size }}
              post{% if posts_size > 1 %}s{% endif %}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div> <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}

  {% endif %}
{% endfor %}
