---
layout: default
---

<div class="home">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
      <div class='home-list-item'>
        <span class='home-date-indicator'>{{ post.date | date: "%d-%m-%Y" }}</span>
        {% if post.guest %}
          <span class='guest-post'>Guest Post</span>
        {% endif %}
        {% if post.tags.size > 0 %}
          {{ post.tags | join: ', ' }}
        {% endif %}
        <br/>
        <a href='{{ post.url | relative_url }}'>{{ post.title }}</a>
      </div>
    {% endfor %}

    {% if site.posts.size > 10 %}
      <div class="pagination">
        <p>Showing all {{ site.posts.size }} posts</p>
      </div>
    {% endif %}
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
</div>